/* .page {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #b2c9ec, #59d4fb, #00dedc, #00de8c, #94d302);
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  } */
  
  .admin-page {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .imageDiv {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    padding-top: 100px;
    text-align: center;
    width: 800px;
  }
  
  .simple-linear {
    background-image: linear-gradient(
      to top right,
      rgb(153, 153, 238),
      rgb(228, 232, 253),
      rgb(165, 214, 247)
    );
  }
  
  .center {
    text-align: center;
  }
  
  .form-dark .font-small {
    font-size: 0.8rem;
  }
  
  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem;
  }
  
  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px;
  }
  
  .form-dark .md-form label {
    color: #fff;
  }
  
  .form-dark input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid #00c851;
    -webkit-box-shadow: 0 1px 0 0 #00c851;
    box-shadow: 0 1px 0 0 #00c851;
  }
  
  .form-dark input[type="text"]:focus:not([readonly]) + label {
    color: #fff;
  }
  
  .form-dark input[type="password"]:focus:not([readonly]) {
    border-bottom: 1px solid #00c851;
    -webkit-box-shadow: 0 1px 0 0 #00c851;
    box-shadow: 0 1px 0 0 #00c851;
  }
  
  .form-dark input[type="password"]:focus:not([readonly]) + label {
    color: #fff;
  }
  
  .form-dark input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  